<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PORTFOLIO : Home</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>

<body>
<div id="wrapper">
  <header>
      <h1>PORTFOLIO</h1>
  </header>
  <nav>
  <ul> 
    <li><a href="/">Home</a></li>
          <li><a href="/credit">About Me</a></li>
          <li><a href="/listing">Projects</a></li>
          <li><a href="/listing2">Services</a></li>
          <li><a href="/contact">Contact</a></li>
  </ul>
  </nav>
  <main>
  <h2>SHIRISH BHUSAL</h2>
  <h3><b>Mission</b></h3>
  <img src="/images/logo.gif" alt="gif" width="450" height="300" >

  <p>"My goal is to empower programmers on a global scale, offering them a platform to demonstrate their expertise, connect with peers who share their interests, and gain access to pathways for advancing their careers."</p>


  <h3>Vision</h3>
  <p>"My vision is to transform how programmers come together, cooperate, and flourish in the digital age."

	<h3>Values</h3>
  <p>"I am motivated by a set of fundamental principles that shape our conduct, choices, and engagements within the technical community. These principles serve as the bedrock of my platform and demonstrate my dedication to creating a positive, inclusive, and empowering environment for programmers."

    <div id="im">
     <img src="/images/home1.gif" alt="gif" width="505" height="300">  
     <img src="/images/home2.gif" alt="programming gif" width="505" height="300">
    </div>
        <H2>Feedback Form</H2>
        <FORM action="mailto:shirishbhusal33@gmail.com"
         method="post" 
         enctype="text/plain">
          First Name : <INPUT type="text" name="First Name"  placeholder="Enter First name here" style="font-family:sans-serif;font-size:1.1em;">&nbsp;&nbsp;
          Last Name : <INPUT type="text" name="Last Name"  placeholder="Enter last name here" style="font-family:sans-serif;font-size:1.1em;">
          <BR>
          <BR>
 
          <INPUT type="radio" name="Gender" value="male">Male<BR>
          <INPUT type="radio" name="Gender" value="female">Female  
          <BR>
          <BR>
          Email: <INPUT type="email" name="mail" placeholder="E-mail address" style="font-family:sans-serif;font-size:1.1em;" size="30">
          <BR>
          <BR>
            Comment :<BR>        
            <TEXTAREA rows="4" cols="115" name="commentfield" style="font-family:sans-serif;font-size:1.1em;" ></TEXTAREA>
            <BR>
            <INPUT TYPE="submit" value="Send Feedback">
            <INPUT TYPE="reset" value="Reset">
        </FORM>
        <h2>Feedbacks</h2>
        
          <h3>Shishir Bhusal Senior Professor, CENTENNIAL COLLEGE ( Full Stack Developer)</h3> 
			<p>"I am pleased to offer this endorsement for Shirish Bhusal. Having worked alongside Shirish as his senior colleague, I have had the honor of firsthand experience with his exceptional skills, strong work ethic, and unwavering dedication.</p>
			<p>Shirish consistently exhibits a profound grasp of programming concepts and the ability to address intricate challenges effortlessly. His technical proficiency and problem-solving skills are genuinely remarkable. He possesses a natural talent for dissecting complex problems into manageable components and crafting inventive solutions."</p>
			<br>
			<h3>Robert Parker</h3> 
			<p>Shirish is a dedicated and hardworking programmer who consistently delivers high-quality work. He is always willing to go the extra mile to ensure that his clients are satisfied with his work. His attention to detail and commitment to excellence are truly remarkable.
				Overall, I highly recommend Shirish Bhusal to anyone looking for a skilled and reliable programmer. His technical proficiency, problem-solving skills, and work ethic are truly exceptional. It has been a pleasure working with him, and I look forward to working with him again in the future.<p>
  </main>
  <footer>
	<section>
		<footer class="footer-distributed">
			<div class="footer-left">
				<p class="footer-links">
					<a href="views/index.ejs">Home</a>
					|
					<a href="/credit">About Me</a>
					|
					<a href="/listing2">Services</a>
					|
					<a href="/contact">Contact</a>
					|
					<a href="/listing">Projects</a>

				</p>
				<p class="footer-company-name">© Shirish Bhusal.</p>
			</div>
			<div class="footer-center">
				<div>
					<i class="fas fa-map-marker-alt"></i>
					<p><span>48 Kilpatric Dr, Scarborough, Toronto</span> Ontario, Canada</p>
				</div>
				<div>
					<i class="fas fa-phone"></i>
					<p>+1 (647) 581 0005</p>
				</div>
				<div>
					<i class="far fa-envelope"></i>
					<p><a href="mailto:shirishbhusal33@gmail.com">shirishbhusal33@gmail.com</a></p>
				</div>
			</div>
			
			<div class="footer-right">
					<div class="footer-icons">
						<a href="#"><i class="fab fa-facebook"></i></a>
						<a href="#"><i class="fab fa-twitter"></i></a>
						<a href="#"><i class="fab fa-instagram"></i></a>
						<a href="#"><i class="fab fa-linkedin"></i></a>
						<a href="#"><i class="fab fa-youtube"></i></a>
					</div>
		</div>
	</footer>
</section>

  </footer>
</div>
</body>
</html>