<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PORTFOLIO : Services</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/listing2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>

<body>
<div id="wrapper">
  <header>
      <h1>PORTFOLIO</h1>
  </header>
  <nav>
  <ul> 
    <li><a href="/">Home</a></li>
          <li><a href="/credit">About Me</a></li>
          <li><a href="/listing">Projects</a></li>
          <li><a href="/listing2">Services</a></li>
          <li><a href="/contact">Contact</a></li>
  </ul>
  </nav>
    <main>
        <img src="/images/service1.jpg" alt="gif" width="450" height="300" >
        <h3> Software Development :</h3>
 <p>With expertise in coding languages and frameworks, I can offer software development services, creating custom applications, websites, or software solutions tailored to meet the specific needs of clients.  
</p>

  <ul>
    <li>Design, develop, and produce specific software applications for clients.
    </li>
    <li>Build future-ready decentralized solutions on the blockchain ecosystem.
    </li>
    <li>Enhance software with custom software capabilities and features for specific requirements.
    </li>
  </ul>
 </p>
<br>
<br>
<br>
 <img src="/images/service2.jpg" alt="gif" width="450" height="300" >
 <h3> Technical Consultant: </h3>
<p>My consultancy services help customers solve technical problems by drawing on my expertise and ability to think creatively about solutions. 
    Clients may benefit from my knowledge, advice, and tactics for solving a wide range of programming problems, architectural dilemmas, and technological choices.
</p>

<ul>
<li>Provide consulting services related to software development.
</li>
<li>Help clients define their software requirements and goals.
</li>
<li>Provide guidance on software development processes, testing, and maintenance.
</li>
</ul>
</p>
<br>
<br>
<br>
 <img src="/images/service3.jpg" alt="gif" width="450" height="300" >
 <h3> Develop and manage database systems: </h3>
<p><ul>
    <li>Database System Knowledge</li>
    <li>Programming and Scripting</li>
    <li>Database Design</li>
    <li>SQL and Query Optimization</li>
    <li>Database Management Systems (DBMS)</li>
    <li>Data Security and Compliance</li>
    <li>Version Control and Collaboration Tools</li>
    <li>Testing and Quality Assurance</li>
    <li>Documentation</li>
    <li>Client Communication</li>
    <li>Problem-Solving</li>
</ul>
</p>

    </main>

    <footer>
        <section>
            <footer class="footer-distributed">
                <div class="footer-left">
                    <p class="footer-links">
                        <a href="views/index.ejs">Home</a>
                        |
                        <a href="/credit">About Me</a>
                        |
                        <a href="/listing2">Services</a>
                        |
                        <a href="/contact">Contact</a>
                        |
                        <a href="/listing">Projects</a>
    
                    </p>
                    <p class="footer-company-name">© Shirish Bhusal.</p>
                </div>
                <div class="footer-center">
                    <div>
                        <i class="fas fa-map-marker-alt"></i>
                        <p><span>48 Kilpatric Dr, Scarborough, Toronto</span> Ontario, Canada</p>
                    </div>
                    <div>
                        <i class="fas fa-phone"></i>
                        <p>+1 (647) 581 0005</p>
                    </div>
                    <div>
                        <i class="far fa-envelope"></i>
                        <p><a href="mailto:shirishbhusal33@gmail.com">shirishbhusal33@gmail.com</a></p>
                    </div>
                </div>
                
                <div class="footer-right">
                        <div class="footer-icons">
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                        </div>
            </div>
        </footer>
    </section>
    
      </footer>
        
                
</body>
</html>