<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PORTFOLIO : Projects</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/listing.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>

<body>
<div id="wrapper">
  <header>
      <h1>PORTFOLIO</h1>
  </header>
  <nav>
  <ul> 
    <li><a href="/">Home</a></li>
          <li><a href="/credit">About Me</a></li>
          <li><a href="/listing">Projects</a></li>
          <li><a href="/listing2">Services</a></li>
          <li><a href="/contact">Contact</a></li>
  </ul>
  </nav>
    <br><br>
  <main>
    <img src="/images/project1.png" alt="project1" width="500" height="350" >
    <br>
    <br>
 <h3>Artificial Intelligence Projects:</h3>
 <br>
 <br>
 <p>
    <ul>
    <li>Built a chatbot with personality using OpenAI's ChatGPT and Google's Bard.</li>
    <li>Created a YouTube summarizer using Large Language Models (LLMs).</li>
     <li>Developed an AI-based content creator app.</li>
     <li>Used Python and TensorFlow to develop a machine learning model for image recognition.</li>

     </p>
    </ul>
 <br>
 <br>
 <br>
 <br>
 <img src="/images/project2.jpg" alt="project1" width="500" height="350" >
<h3>Large Language Models (LLMs) Projects:</h3>
<br>
<br>
<p>
 <ul>
 <li>Worked on projects that utilize LLMs for downstream tasks.</li>
 <li>Created a YouTube summarizer using Large Language Models (LLMs).</li>
  <li>Used LangChain Python package to create chatbots, question-answering systems, or a pipeline to generate distilled, usable content from a loose collection of documents.
</li>
  <li>Used AutoGPT Python package to create autonomous agents that can generate and execute their own tasks.</li>

  </p>
 </ul>
 <br>
 <br>
 <br>
<h3>Chatbot Projects:</h3>
<br>
<p>
 <ul>
 <li>Built chatbots for various clients, including planning and implementing conversational AI, defining the main purpose of the chatbot, and building a team of developers and designers.</li>
 <li>Used Dialogflow and Amazon Lex to develop chatbots for customer service and support.</li>
  </p>
 </ul>
<br>
<br>
<img src="/images/project3.png" alt="project1" width="500" height="350" >
 <h3>Mobile & Web Application Projects:</h3>
<br>
<p>
 <ul>
 <li>Developed a fitness tracking app using React Native and Firebase.</li>
 <li>Created an AI-based video editing app using Java and Android Studio.</li>
 <li>Developed an AI-based content creator app using Flutter and Firebase.</li>
 <li>Developed a social media platform using React, Node.js, and MongoDB.</li>
 <li>Created an online store using Shopify and Liquid.</li>
 <li>Developed a software application for managing schedules, tasks, and projects using ASP.NET and SQL Server.</li>
  </p>
 </ul>
  </main>

    <!--footer-->
    <footer>
        <section>
            <footer class="footer-distributed">
                <div class="footer-left">
                    <p class="footer-links">
                      <a href="views/index.ejs">Home</a>
                      |
                      <a href="/credit">About Me</a>
                      |
                      <a href="/listing2">Services</a>
                      |
                      <a href="/contact">Contact</a>
                      |
                      <a href="/listing">Projects</a>

                    </p>
                    <p class="footer-company-name">© Shirish Bhusal.</p>
                </div>
                <div class="footer-center">
                    <div>
                        <i class="fas fa-map-marker-alt"></i>
                        <p><span>48 Kilpatric Dr, Scarborough, Toronto</span> Ontario, Canada</p>
                    </div>
                    <div>
                        <i class="fas fa-phone"></i>
                        <p>+1 (647) 581 0005</p>
                    </div>
                    <div>
                        <i class="far fa-envelope"></i>
                        <p><a href="mailto:shirishbhusal33@gmail.com">shirishbhusal33@gmail.com</a></p>
                    </div>
                </div>
                
                <div class="footer-right">
                        <div class="footer-icons">
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                        </div>
            </div>
        </footer>
    </section>
    </footer>
        
                
</body>
</html>